.features {
  padding: 4rem 0;
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--ifm-heading-color);
}

.sectionDescription {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: var(--ifm-color-content);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.featureCard {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featureIcon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  display: block;
}

.featureTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--ifm-heading-color);
}

.featureDescription {
  font-size: 1rem;
  color: var(--ifm-color-content);
  line-height: 1.6;
}

@media (max-width: 996px) {
  .sectionTitle {
    font-size: 2rem;
  }

  .featureCard {
    margin-bottom: 2rem;
  }

  .sectionDescription {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .featureIcon {
    font-size: 2.5rem;
  }

  .featureTitle {
    font-size: 1.3rem;
  }

  .row > div {
    margin-bottom: 2rem;
  }
}